{% extends 'messages/index.html.twig' %}

{% block title %}Hello MessagesController!{% endblock %}

{% block body %}
<h1>Wiadomość {{ id }}</h1>
<p>{{ message }}</p>
<a href="{{ path('app_messages') }}">Powrót do listy wiadomości</a>

{% endblock %}
